

.header{
    background-color: #ffffff;
    box-shadow: #b0b0b0 ;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 60px;
    gap:20px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    z-index: 999;
}

.header-logo{
    height: 24px;
    width: 78px;
}

.header-menu-container{ 
    display: flex;
    height: 100%;
    align-items: center;
    gap: 20px;
    

}



.header-menu{
    font-size:14px;
}

/* ============================================================ */

/* 菜单展开系列 */
/* 菜单展开系列 */
/* 菜单展开系列 */

.menu-button1{
    height: 60px;
    line-height: 60px;
    
}

.menu-open-container1{
    display: none;
}



.header-menu1:hover .menu-open-container1,menu-open-container1:hover {
    position: absolute;
    top: 60px;
    display: flex;
    left:0;
    width: 100vw ;
    height: fit-content;
    padding:20px;
    background-color: #e8e8e8;
    min-height: 300px;
    z-index: 998;
}


.menu-button2{
    height: 60px;
    line-height: 60px;
}
.menu-open-container2{
    display: none;
}



.header-menu2:hover .menu-open-container2,menu-open-container2:hover {
    position: absolute;
    top: 60px;
    display: flex;
    left:0;
    width: 100vw ;
    height: fit-content;
    padding:20px;
    background-color: #e8e8e8;
    min-height: 300px;
    z-index: 998;
}


.menu-button3{
    height: 60px;
    line-height: 60px;
}

.menu-open-container3{
    display: none;
}



.header-menu3:hover .menu-open-container3,menu-open-container3:hover {
    position: absolute;
    top: 60px;
    display: flex;
    left:0;
    width: 100vw ;
    height: fit-content;
    padding:20px;
    background-color: #e8e8e8;
    min-height: 300px;
    z-index: 998;
}

.menu-button4{
    height: 60px;
    line-height: 60px;
}

.menu-open-container4{
    display: none;
}



.header-menu4:hover .menu-open-container4,menu-open-container4:hover {
    position: absolute;
    top: 60px;
    display: flex;
    left:0;
    width: 100vw ;
    height: fit-content;
    padding:20px;
    background-color: #e8e8e8;
    min-height: 300px;
    z-index: 998;
}

.menu-button5{
    height: 60px;
    line-height: 60px;
}

.menu-open-container5{
    display: none;
}



.header-menu5:hover .menu-open-container5,menu-open-container5:hover {
    position: absolute;
    top: 60px;
    display: flex;
    left:0;
    width: 100vw ;
    height: fit-content;
    padding:20px;
    background-color: #e8e8e8;
    min-height: 300px;
    z-index: 998;
}


.menu-button6{
    height: 60px;
    line-height: 60px;
}

.menu-open-container6{
    display: none;
}



.header-menu6:hover .menu-open-container6,menu-open-container6:hover {
    position: absolute;
    top: 60px;
    display: flex;
    left:0;
    width: 100vw ;
    height: fit-content;
    padding:20px;
    background-color: #e8e8e8;
    min-height: 300px;
    z-index: 998;
}

/* 菜单展开系列 */
/* 菜单展开系列 */
/* 菜单展开系列 */




/* 登录，下载，试用按钮的按钮组 */
.header-button-container{ 
    display: flex;
    gap: 10px;
}



.header-button{
    background-color: #ffffff;
    border: rgb(96, 136, 215) solid 1px;
    border-radius: 100px;
    color: #000000;
    width: 100px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    box-sizing: border-box;
}

 .header-button:hover{
    border: rgb(68, 105, 179) solid 2px;
}

.header-button a{
    text-decoration: none;
    color: #88a2e0;
}

.mobile-menu{
    display: none;
}


/* ============================================================ */

@media screen and (max-width: 1020px) {
    .header-menu-container {
        display: none; 
    }
    
    .header-button-container {
        display: none;
    }
    

    .header::before {
        content: "☰";
        font-size: 24px;
        cursor: pointer;
        position: absolute;
        right: 20px;
    }
    
    .mobile-menu {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        z-index: 1000;
    }
    
    .mobile-menu.active {
        display: block;
    }
    
    .mobile-menu-item {
        padding: 15px 20px;
        border-bottom: 1px solid #e8e8e8;
    }
}





